//color scheme
$blue: #22284e;
$grey: #4a4e69;
$light-grey: #5f637e;
$shadow-grey: #30323f;
$white: #fff;
$red: #da0037;

//margins and paddings
$padding-small: 0.5rem;
$padding-normal: 0.75rem;
$padding-large: 1rem;

$margin-small: 0.5rem;
$margin-normal: 1rem;
$margin-large: 1.5rem;

//font weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

//font size
$font-small: 10px;
$font-normal: 14px;
$font-large: 18px;

//shadow
$shadow: 0 0.5rem 1rem $shadow-grey;
